$iconWidth: 56px;

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: $iconWidth;
}
.sidenav-toggle {
  mat-icon {
    font-size: 30px;
    color: white;
    line-height: $iconWidth;
    width: $iconWidth;
    height: $iconWidth;
  }
}

@media (max-width: 720px) {
  .sidenav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
