<mat-toolbar color="primary">
  <span>
    <a routerLink="/">PhoneBook App</a>
  </span>
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/create" routerLinkActive="mat-accent">
      <!-- (click)="openAddContactsDialog()" -->
      New Contact
    </button>
    <button mat-menu-item>New Group</button>
  </mat-menu>
</mat-toolbar>
