<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">My Groups</mat-toolbar>
    <mat-nav-list>
      <app-list-groups></app-list-groups>
    </mat-nav-list>
    <li>
      <button
        mat-raised-button
        color="accent"
        (click)="openDialog()"
        class="btn-style"
      >
        Add Group
      </button>
    </li>
  </mat-sidenav>
  <app-header (click)="sidenav.toggle()"></app-header>
  <router-outlet></router-outlet>
</mat-sidenav-container>
