<mat-accordion multi="true" *ngIf="contacts.length > 0">
  <mat-expansion-panel *ngFor="let contact of contacts">
    <mat-expansion-panel-header>
      <img
        mat-card-avatar
        [src]="contact.imagePath"
        [alt]="contact.firstname"
      />
      <p>{{ contact.firstname }} {{ contact.lastname }}</p>
    </mat-expansion-panel-header>
    <mat-action-row>
      <img
        class="contact-image"
        [src]="contact.imagePath"
        [alt]="contact.firstname"
      />
      <hr />
      <p>
        {{ contact.mobile }}
      </p>
      <hr />
      <p>
        {{ contact.home }}
      </p>
      <hr />
      <p>
        {{ contact.email }}
      </p>
    </mat-action-row>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', contact.id]">
        <mat-icon color="white">edit</mat-icon>
      </a>
      <button mat-button color="warn" (click)="onDelete(contact.id)">
        <mat-icon color="white">delete_sweep</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="contacts.length <= 0">
  No contacts added yet!
</p>
