:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.green {
  direction: rtl;
  background-color: green;
}

.contact-image {
  height: 60px;
  /* width: 160px; */
  margin: 0px auto;
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  margin: 0 20px 0 0;
  border-radius: 50%;
  flex-shrink: 0;
}
