<mat-accordion multi="true" *ngIf="contacts.length > 0">
  <mat-expansion-panel *ngFor="let contact of contacts">
    <mat-expansion-panel-header>
      {{ contact.firstname }} {{ contact.lastname }}
    </mat-expansion-panel-header>
    <mat-action-row>
      <p>{{ contact.mobile }}</p>
      <hr />
      <p>{{ contact.home }}</p>
      <hr />
      <p>{{ contact.email }}</p>
    </mat-action-row>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="contacts.length <= 0">
  No contacts added yet!
</p>
